use Mix.Config

config :jukee, JukeeWeb.Endpoint,
  cache_static_manifest: "priv/static/cache_manifest.json",
  secret_key_base: ""

config :jukee, Jukee.Repo,
  adapter: Ecto.Adapters.Postgres,
  hostname: "",
  username: "",
  password: "",
  database: "",
  pool_size: 20,
  ssl: true

config :jukee, JukeeWeb.Guardian,
  secret_key: ""

config :tubex, Tubex,
  api_key: ""

config :soundcloud_ex,
  client_id: "",
  client_secret: ""
